# PLESK DEPLOYER - SETTINGS
PD_ADMIN_MAIL="admin123@groundstack.de"       # Choose if Errors about the Deployment should be send to the Admin (0 = deactivated)
PD_ADMIN_MAIL_SEND_LOG="LOG_DEPLOYMENT"       # Choose between "LOG_DEPLOYMENT" or "LOG_ERROR" (or 0)
PD_AUTO_UPDATE=0                              # The Auto Updater will Update the Plesk Deployer to the latest Version automatically
PD_AUTO_UPDATE_REPOSITORY="https://github.com/groundstack-org/plesk-deployer.git"
PD_LOG_DEPLOYMENT=1                           # Turn Off or On the Deployment Logging

# PLESK DEPLOYER - CUSTOM DEPLOYMENTS
PD_PRE_DEPLOYMENT=0                           # Executes a custom shell-script (absolute path to file) before the Deployment starts
PD_AFT_DEPLOYMENT=0                           # Executes a custom shell-script (absolute path to file) after the Deployment ends

# LINUX
LINUX_PACKAGES="htop nano"
SSH_PORT=46666
FTP_PASSIVE_PORTS="49152 50152"               # You can define the Range of the FTP Passive Ports (e.g. 1000 1100 means 1000-1100)

# NGINX
NGINX_INSTALL=1
NGINX_GZIP=1

# PHP
PHP_VERSIONS=( "7.0" "5.6" )                  # If you don't want any additional PHP Interpreters then use: PHP_VERSIONS=()
PHP70_IONCUBE=1                               # Plesk's PHP 7 Package is missing ionCube, you can install it with this option

# PLESK - GENERAL SETTINGS
PLESK_LOCALE="de-DE"                          # Or en-US, en-GB, etc.
PLESK_AUTOUPDATES=1
PLESK_AUTOUPDATES_THIRD_PARTY=1
PLESK_BRANDING_CSS=1                          # NOT IMPLEMENTED YET

# PLESK - EXTENSIONS
PLESK_EXTENSIONS_DEPLOYMENT=1
PLESK_EXTENSIONS[0]="https://ext.plesk.com/packages/f6847e61-33a7-4104-8dc9-d26a0183a8dd-letsencrypt/download"
PLESK_EXTENSIONS[1]="https://ext.plesk.com/packages/b49f9b1b-e8cf-41e1-bd59-4509d92891f7-magicspam/download"
# A Plesk Extension can parameter can be composed of a URL or a local ZIP File (absolute path)
# For more packages see: https://ext.plesk.com/packages

# PLESK - SECURITY
PLESK_MIN_PW_STRENGTH="Mediocre"              # VeryWeak|Weak|Mediocre|Strong|Stronger
PLESK_FIREWALL=1                              # NOT IMPLEMENTED YET
PLESK_MODSECURITY_FIREWALL=1
PLESK_MODSECURITY_FIREWALL_RULESET="tortix"   # crs|tortix (crs=OWASP, tortix=Atomicorp's ASL)
PLESK_FAIL2BAN=1
PLESK_FAIL2BAN_BAN_PERIOD=1800
PLESK_FAIL2BAN_BAN_TIME_WINDOW=1800
PLESK_FAIL2BAN_BAN_MAX_ENTRIES=3

# PLESK DEPLOYER - CONFIGS & SCRIPTS
CONFIGS_DEFAULT=1             # deploy configs/default
CONFIGS_CUSTOM=1              # deploy configs/custom
SCRIPTS_DEFAULT=1             # deploy scripts/default
SCRIPTS_CUSTOM=1              # deploy scripts/custom
SCRIPTS_EXPORT_PATH=~/scripts # If you change this value, then extend your PATH Variable in configs/custom/bash_profile.cnf accordingly
                              # (for example, if you have the directory ~/scripts already on your server, then change this path)
