#!/bin/bash

# DEPLOYMENT CONFIGS (your configuration)
LINUX_PACKAGES="htop nano"
PLESK_FIREWALL=1
PLESK_FAIL2BAN=1
BASH_PROFILE_DEFAULT=1
BASH_PROFILE_CUSTOM=1
NGINX_GZIP=1

# GLOBAL CONFIGS
SCRIPT=$BASH_SOURCE
SCRIPTPATH=`dirname $BASH_SOURCE`
CONFIGS=$SCRIPTPATH/configs
CONFIGS_DEFAULT=$CONFIGS/default
CONFIGS_CUSTOM=$CONFIGS/custom
NOW=$(date +"%Y-%m-%d")
NOW_EXT=$(date +"%Y-%m-%d-%M%S")
DISTRO=$(python -mplatform)
ERROR_LOG=$SCRIPTPATH/logs/error.log

# COLOR CODES
RED=$(tput setaf 1)
GREEN=$(tput setaf 2)
YELLOW=$(tput setaf 3)
UNDERLINE=$(tput smul)
NORMAL=$(tput sgr0)

# SYSTEM MESSAGES
MSG_ERROR="${RED}$(date +"%Y-%m-%d-%M%S") [ERROR]:"
MSG_WARNING="${YELLOW}$(date +"%Y-%m-%d-%M%S") [WARNING]:"
MSG_INFO="${UNDERLINE}[INFO]:"
MSG_DONE="${GREEN}[FINISHED]:"
MSG_NORMAL="${NORMAL}"
