# LINUX - CONFIGS
LINUX_MACHINE_TYPE=$(uname -m)
LINUX_DISTRO=$(python -mplatform)

# SYSTEM - CONFIGS
SCRIPT=$BASH_SOURCE
SCRIPTPATH=$(dirname $(realpath $SCRIPT))
LIB_PATH=$SCRIPTPATH/lib
CONFIGS_PATH=$SCRIPTPATH/configs
CONFIGS_PATH_DEFAULT=$CONFIGS_PATH/default
CONFIGS_PATH_CUSTOM=$CONFIGS_PATH/custom
TIME_FORMAT="%Y-%m-%d_%H:%M:%S"
TIME_FORMAT_FILE="%Y-%m-%d-%H%M%S"

# SYSTEM - LOGS
LOG_PATH=$SCRIPTPATH/logs
LOG_GIT=$LOG_PATH/git.log
LOG_ERROR=$LOG_PATH/error.log

# SYSTEM - COLOR CODES
RED=$(tput setaf 1)
GREEN=$(tput setaf 2)
YELLOW=$(tput setaf 3)
UNDERLINE=$(tput smul)
COLOR_RESET=$(tput sgr0)

# SYSTEM - MESSAGES
MSG_TYPES="ERROR, WARNING, INFO, DONE"
MSG_ERROR="[ERROR]:"
MSG_WARNING="[WARNING]:"
MSG_INFO="[INFO]:"
MSG_DONE="[FINISHED]:"
MSG_RESET="${COLOR_RESET}"
