### PLESK_DEPLOYER ###
# (DON'T CHANGE THE COMMENT ABOVE OR THE ONE AT THE BOTTOM OTHERWISE THE DEPLOYMENT WILL BREAK)

# Custom Variables
logs=/var/log/
projects=/var/www/vhosts/
PATH=$PATH:~/scripts

# Custom Aliases / Commands
alias plesk-nginx-reload='bash ~/scripts/plesk-nginx-reload.sh'
alias find_str='bash ~/scripts/find_str.sh'

alias php70='/opt/plesk/php/7.0/bin/php -c "/opt/plesk/php/7.0/etc/php.ini"'
alias php56='/opt/plesk/php/5.6/bin/php -c "/opt/plesk/php/5.6/etc/php.ini"'
alias php55='/opt/plesk/php/5.5/bin/php -c "/opt/plesk/php/5.5/etc/php.ini"'
alias php54='/opt/plesk/php/5.4/bin/php -c "/opt/plesk/php/5.4/etc/php.ini"'
alias php53='/opt/plesk/php/5.3/bin/php -c "/opt/plesk/php/5.3/etc/php.ini"'

### PLESK_DEPLOYER ###
